/**************** VARIABLES *******************/
:root {
  --main-light-2: #FDFEFE;
  --main-light-1: #D3E9E9;
  --main: #7EC8C2;
  --main-dark-1: #3DA3A0;
  --main-dark-2: #135A66;
  --main-dark-3: #131B23;
  /* --main-dark-3: #05080C; */
  --main-grey-light: #DADFE1;
  --main-grey: #B8BDC3;
  --main-grey-dark: #4B5054;
  --contrast-light: #F9D387;
  --contrast-dark: #E8A87C;
  --highlight-light: #ed7880;
}

/**************** MAIN *******************/
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif !important;
  color: var(--body);
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif !important;
}

h1 {
  font-size: 5em;
  text-transform: uppercase;
  line-height: 0.7em;
  letter-spacing: -1px;
}

.light-background {
  background: var(--main-light-2);
  position: relative;
}

.main-background {
  background: var(--main-dark-1);
  position: relative;
}

.dark-background {
  background: var(--main-dark-3);
}

.grey-background {
  background: var(--main-grey-dark);
}

.container {
  padding: 30px 0px;
}
/*--- NAVIGATION BAR ---*/

.navbar {
  background: white;
}

.navbar-brand {
  text-transform: uppercase;
  margin-left: 10px;
  letter-spacing: 0px;
}

.nav-link {
  font-weight: thick;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-dark-3);
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
}

.nav-link:hover {
  color: var(--main-dark-3);
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: var(--main-dark-3);
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.nav-link-fade-up::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}

.nav-link-grow-up::before {
  height: 0%;
  width: 100%;
  bottom: 0px;
}

.nav-link-grow-up:hover::before {
  height: 5px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-btn {
  font-weight: thick;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-dark-3);
  border-radius: 0 !important;
  outline-color: var(--contrast-light) !important;
}

.nav-btn:hover {
  background-color: var(--contrast-light);
}


/**************** HEADER *******************/

.header {
  /* background-image: url('resources/tech_background.png'); */
  background-size: cover;
  background-position: center;
  position: relative;
}

#particles-js {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: var(--main-dark-1);
}

.description {
  margin-left: 20%;
  background: var(--main-dark-1);
  padding: 15px;
  padding-right: 40px;
  box-shadow: 0 0 10px 5px var(--main-dark-1);
}

.sub-title {
  font-size: 0.5em;
  color: var(--main-dark-2);
  text-transform: none;
}

.description p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: white;
}

.description h1 {
  color: var(--main-light-2);
}

/**************** PROJECTS *******************/

.projects img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

/**************** COMMENTS *******************/
#comments-form #message {
  height: 200px;
}

.form-btn {
  background-color: var(--contrast-light) !important;
  color: var(--main-dark-3);
}

.form-btn:hover {
  background-color: var(--contrast-dark) !important;
  color: var(--main-dark-3);
}

.comments-form {
  margin: 0px 4px;
  padding: 10px;
}

.comment-display {
  background: white;
  height: 260px;
  border-radius: 3px;
  overflow: auto;
}

#comments-container .media {
  border-bottom:1px solid var(--main-light-1);
  margin:10px;
}

/**************** FOOTER *******************/
.page-footer {
  padding: 40px 0px;
}

.fa {
  padding: 5px;
  color: var(--main-grey-dark);
}

.fa-linkedin:hover {
  color: #007bb5;
}

.fa-github:hover {
  color: #fff;
}

.footer-copyright {
  color: var(--main-grey-dark);
  padding: 0px 40px 0;
}