/**************** VARIABLES *******************/
:root {
  --main-bg-light: #eaebea;
  --main-bg: #c5ceb9;
  --main-bg-darker: #4f5a3a;
  --button: #fca310;
  --button-darker: #d28025;
  --button-hover: #4f5a3a;
  --nav-link: #000;
  --nav-link-hover: #000;
  --nav-link-underline: #000;
}

/**************** MAIN *******************/
body {
  padding: 0;
  margin: 0;
}

/*--- NAVIGATION BAR ---*/

.navbar {
  background: white;
}

.navbar-brand {
  text-transform: uppercase;
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--nav-link);
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
}

.nav-link:hover {
  color: var(--nav-link-hover);
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: var(--nav-link-underline);
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.nav-link-fade-up::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}

.nav-link-grow-up::before {
  height: 0%;
  width: 100%;
  bottom: 0px;
}

.nav-link-grow-up:hover::before {
  height: 5px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-btn {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--nav-link);
}

/**************** HEADER *******************/

.header {
  background-image: url('resources/tech_background.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: var(--main-bg);
}

.description {
  margin-left: 20%;
}

.description h1 {
  color: black;
}

.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}


.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}