/**************** VARIABLES *******************/
:root {
  --main-bg-light: #eaebea;
  --main-bg: #c5ceb9;
  --main-bg-dark: #d28025;
  --main-bg-darker: #4f5a3a;
  --button: #fca310;
  --button-hover: #4f5a3a;
}

/**************** MAIN *******************/
body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

#content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 100%;
}

h1, h3 {
  font-family: 'Slabo 27px', serif;
  margin: 0px; 
  padding: 0px;
}

h1 {
  text-transform: uppercase;
  text-align: left;
  font-size: 4em;
  line-height: 0.7em;
  margin-top: 20px;
  /* font-family: 'Roboto', sans-serif; */
}

h2 {
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  background-color: var(--button);
  text-transform: uppercase;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 2px;
}

a:hover, a:active {
  background-color: var(--button-hover);
}

.no-color-section {
  width: 100%;
  position: relative;
  display: table;
}

.light-color-section {
  width: 100%;
  background-color: var(--main-bg-light);
  position: relative;
  display: table;
}

.bg-color-section {
  width: 100%;
  background-color: var(--main-bg);
  position: relative;
  display: table;
}

.dark-color-section {
  width: 100%;
  background-color: var(--main-bg-darker);
  position: relative;
  display: table;
}

.inner-section {
  margin: 0 auto;
  padding: 20px 20px;
  width: 70%;
  height: auto;
  position: relative;
  vertical-align: middle;
  display: table;
}


/**************** HEADER *******************/
header {
  background: white;
  color: black;
  margin: 0px;
  padding: 10px 30px;
  z-index: 1;
  top: 0;
  width: 100%;
  position: fixed;
  display: block;
  /*background-color: red;*/
}

.title {
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  margin: 10px 0px;
  display: inline-block;
  float: left;
  padding: 12px 35px;
  line-height: 1em;
  /*background-color: green;*/
}

nav {
  margin: 0px;
  float: right;
  /*background-color: green;*/
  padding: 0px;
  margin-right: 60px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  position: relative;
  /*background-color: yellow;*/
  margin: 0px;
  float: none;
  padding: 0px;
}

nav ul li a {
  color: black;
  font-size: 0.7em;
  font-weight: 300px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: white;
  margin-left: 0px;
  text-align: center;
}


nav ul li a:hover, a:active {
  background-color: white;
  color: black;
  border-bottom: 2px solid black;
}

nav ul li:last-child a {
  border: 2px solid var(--button);
}


nav ul li:last-child a:hover {
  background-color:  var(--button);
}


/**************** HOME *******************/

.home-banner {
  height: 520px;
}

#home {
  width: 60%;
  margin-top: 100px;
}

#home .front-bio {
  width: 50%;
  height: auto;
  display: table-cell;
  vertical-align: middle;
  padding-right: 40px;
}

.home-subheading {
  font-size: 2em;
  color: var(--main-bg-darker);
}

.circular {
  border-top-left-radius:  50% 50%;
  border-top-right-radius:  50% 50%;
  border-bottom-left-radius:  50% 50%;
  border-bottom-right-radius:  50% 50%;
  float: right;
  width: 300px;
  height: auto;
  display: block;
}

/**************** EXPERIENCE *******************/
.project {
  background-color: var(--main-bg);
  margin: 5px;
  padding: 20px;
  width: 20vw;
  height: 20vw;
  float: left;
}

/**************** CONTACT *******************/
#commentsForm {
  float: left;
}

#commentsForm #message {
 height: 200px;
}
#comments {
  float: right;
  width: 50%;
}

#comments-container {
  background-color: var(--main-bg);
  height: 250px;
  overflow:auto;
}

#comments-container li {
  color:black;
}

#comments-container li .name-output {
  color: var(--main-bg-darker);
  display: block;
}

.footer-social-links {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-social-links a {
  background-color: transparent;
  padding: 0px;
  letter-spacing: 1px;
  margin: 0px;
  border: 0em;
}

.footer-social-links a:hover, a:active {
  background-color: transparent;
}

.fa {
  padding: 12px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 0px 2px;
  border-radius: 50%;
  background-color: var(--main-bg);
  color: black;
}

.fa-linkedin:hover {
  background: #007bb5;
  color: white;
}

.fa-github:hover {
  background: #333;
  color: white;
}